.container {
  background-color: #f6f5ff;
  height: 286px;
}

.textContainer {
  margin: 95px 0px 125px 375px;
  display: inline-block;
}

.subTextContainer {
  display: flex;
}

@media (max-width: 550px) {
  .textContainer {
    margin: 95px 0px 125px 30px;
    display: inline-block;
  }
}

