.navigation {
  background-color: #7e33e0;
  max-width: 100%;
  height: 44px;
  display: flex;
  justify-content: flex-end;
}

.cartItems {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -5%;
  z-index: 100000;
  background-color: #fb2e86;
}

.navBox {
  width: 285px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 462px;
}

.link {
  display: flex;
}

.navigation2 {
  display: flex;
  align-items: center;
  max-width: 1177px;
  max-height: 40px;
  margin: 19px auto;
}

.linkBox2 {
  margin-left: 88px;
  margin-right: 227px;
  width: 352px;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 315px;
  height: 40px;
  border: 2px solid #e7e6ef;
  border-right: none;
  padding-left: 15px;
}

.input:focus {
  outline: none;
}

.searchBox {
  display: flex;
  width: 315px;
}

.footerBox {
  display: flex;
  flex-direction: column;
  background-color: #eeeffb;
}

.footer1 {
  height: 479px;
  margin: auto;
  margin-top: 95px;
  display: flex;
}

.slice1 {
  text-align: start;
  margin-right: 95px;
}

.search2 {
  margin: 30px 0 25px 0;
  height: 43px;
  width: 377px;
  border: 2px solid #e7e6ef;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.search2:focus {
  border: 2px solid #e7e6ef;
  outline: none;
}

.searchBox2 {
  height: 43px;

  display: flex;
  align-items: center;
  width: 377px;
  position: relative;
  margin-top: 35px;
  margin-bottom: 25px;
}

.searchIcon2 {
  /* width: 135px; */
  padding-top: 4px;
  position: absolute;
  right: 0%;
}

.slice2:not(:last-child) {
  margin-right: 90px;
  width: 187px;
}

.textContainer {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
}

.footer2 {
  height: 53px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e7e4f8;
  /* margin: auto; */
}

.socialBox {
  width: 80px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.search2::-webkit-input-placeholder {
  color: #8a8fb9;
}

/* BREAKPOINTS */

@media (max-width: 1000px) {
  .navigation2 {
    max-width: 800px;
    max-height: 40px;
    margin: 19px auto;
  }

  .linkBox2 {
    margin-right: 50px;
  }

  .searchBox {
    width: 150px;
  }

  /*FOOTER */
  .slice1 {
    margin-right: 25px;
    width: 140px;
  }
  .slice2 {
    margin-right: 10px !important;
    width: 100px;
  }
}

@media (max-width: 840px) {
  .searchBox {
    display: none;
  }

  .navBox {
    margin-right: 62px;
  }
  .slice1 {
    display: none;
  }
}

@media (max-width: 550px) {
  .slice2 {
    display: none;
  }
  .linkBox2 {
    margin-left: 0px;
    max-width: 300px;
  }

  .linkBox2:not(:last-child) {
    margin-right: 2px;
  }

  .navigation2 {
    display: flex;
    flex-direction: column;
  }

  .navBox {
    margin-right: 0px;
  }
}
