.container {
  margin: auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1135px;
}

.imageBox {
  max-width: 555px;
  height: 390px;
}

.textBox {
  max-width: 550px;
  height: 250px;
  margin-top: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featuers {
  margin-top: 140px;
  text-align: center;
  margin-bottom: 130px;
}

/* CLIENTS VIEWS */

.clientsViews {
  height: 484px;
  width: 100vw;
  background-color: #fbfbff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 302px;
}

.reviewBox {
  max-width: 689px;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pictureBox {
  width: 192px;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 20px;
}

.img:not(:last-child) {
  margin-right: 13px;
}

.nameBox {
  text-align: center;
}

.changeclientBox {
  display: flex;
  margin-top: 30px;
}

.changeclient {
  width: 18px;
  height: 3px;
  background-color: #ff75b0;
  display: block;
  border-radius: 3px;
  margin-right: 6px;
  cursor: pointer;
}

.activeClient {
  width: 30px;
}

@media (max-width: 1150px) {
  .historyBox {
    flex-direction: column;
    align-items: center;
    width: max-content;
  }
}

@media (max-width: 700px) {
  .featuers {
    margin-bottom: 30px;
  }

  .imageBox {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .textBox {
    margin-top: 0px;
    height: 365px;
    width: 300px;
  }
  .imageBox {
    width: 300px;
  }
}
