.accountContainer {
  display: flex;
  width: 950px;
  margin: auto;
  justify-content: space-around;
  margin-top: 120px;
  margin-bottom: 80px;
  /* position: relative; */
}

.accountSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileContainer {
  /* display: flex; */
  /* flex-direction: column; */
  height: 450px;
  width: 450px;
  margin: 40px 0px;
  /* align-items: center; */
  position: relative;
  overflow: visible;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  /* justify-content: ; */
}

.profileItem {
  display: flex;
  padding: 5px;
  width: 472px;
  justify-content: space-around;
  align-items: center;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 0px 20px;
  margin: 40px 0px;
  justify-content: space-around;
}

.editIcon {
  position: absolute;
  top: -6%;
  right: -7%;
  z-index: 100055;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-image: linear-gradient(
    to right bottom,
    rgb(247 187 242),
    rgb(251, 46, 134)
  );
}

.mainIcon {
  position: absolute;
  top: 25%;
  left: 27%;
}
