.container {
}

.card {
  margin: auto;
  width: 544px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 211px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.textBox1 {
  text-align: center;
}

.input {
  width: 432px;
  height: 52px;
}

.form {
  text-align: center;
}

.signupUserCard {
  width: 580px;
  height: 550px;
}
