.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 625px;
  height: 326px;
  padding: 260px 0px;
  margin: auto;
  text-align: center;
}

.clockImage {
  width: 94px;
  height: 94px;
}
