.card {
  width: 1170px;
  height: 509px;
  margin: auto;
  margin-top: 121px;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 10px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 130px;
}

.imageBox {
  width: 357px;
  height: 487px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.textBox {
  display: flex;
  flex-direction: column;
  width: 549px;
  margin-top: 70px;
}

.starBox {
  margin-top: 12px;
}

.priceBox {
  display: flex;
  margin-top: 12px;
}

.addToCart {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.shareBox {
  display: flex;
}

.socialSites {
  height: 15px;
}

.goldStar svg * {
  fill: #ffc416;
}

.starBox {
  display: flex;
  align-items: center;
}

.containerProductDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descriptionSection {
  background-color: #f9f8fe;
  margin-bottom: 80px;
}

.descrptionContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 110px;
  padding-bottom: 121px;
  max-width: 1155px;
  cursor: pointer;
}

.descrptionHeading {
  display: flex;
  width: 672px;
  justify-content: space-between;
}

.descriptionText1 {
  margin-top: 60px;
}

.moredetailsDescription {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.heart {
  cursor: pointer;
}

.heart:hover svg {
  /* cursor: pointer; */
  animation: heartPopUp 0.8s linear infinite;
}

@keyframes heartPopUp {
  50% {
    transform: scale(1.07);
  }
}

@media (max-width: 1200px) {
  .card {
    max-width: 800px;
    height: 509px;
    justify-content: space-between;
  }

  .imageBox {
    width: 300px;
    height: 487px;
    padding: 50px;
  }
}

@media (max-width: 800px) {
  .card {
    max-width: 600px;
    height: 509px;
    justify-content: space-between;
  }

  .imageBox {
    width: 300px;
    height: 487px;
    padding: 50px;
  }
}

@media (max-width: 680px) {
  .card {
    max-width: 500px;
    height: 809px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .imageBox {
    width: 300px;
    height: 207px;
    padding: 50px;
  }

  .descrptionContainer {
    display: none;
  }

  .textBox {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .card {
    max-width: 320px;
  }

  .imageBox {
    width: 250px;
    height: 180px;
    padding: 50px;
  }
  .textBox {
    width: 300px;
  }
}
