.cartSection {
  display: flex;
  margin: auto;
  margin-top: 131px;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.cartContainer {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productsContainerHeading {
  width: 712px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin-bottom: 35px;
}

.cartProductList {
  display: grid;
  grid-template-columns: 300px 152px 208px 124px;
  /* padding-bottom: 20px; */
  margin-bottom: 30px;
  position: relative;
}

.cartProduct {
  display: flex;
}

.cartProductImage {
  width: 120px;
  height: 116px;
  padding: 32px;
  background-color: #eaeaea;
  margin-right: 10px;
}

.cartProductDescription {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
/* PRICE CONTAINER*/

.totalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.totalPriceContainer {
  width: 371px;
  height: 300px;
  background-color: #f4f4fc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  margin-top: 0px;
}

.priceitem {
  display: flex;
  justify-content: space-between;
  width: 308px;
  padding-bottom: 5px;
  border-bottom: 2px solid #e8e6f1;
}

.priceItemTotal {
  border-bottom: 2px dotted #000;
  border-top: 2px dotted #000;
  padding: 15px;
}

.cancelItem {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
}
